/*
    RESET STYLES
*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
time{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #3F404D;
  display: grid;
  grid-template-rows: 10vh calc(90vh - 15px);
  transition: .2s;
  gap: 15px;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}

.header{
  width: 100%;
  
}
.header h1{
  font-size: 24px;
  padding: 15px;
  margin: 15px 15px 0 15px;
  background-color: #525F5F;
  border-radius: 5px;
  color: #ececec;
  font-weight: 600;
  text-align: center;
}
.main{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    gap: 15px;
    margin: 0 15px;
}
.main h2{
    font-size: 30px;
    font-weight: 600;
    color: #ececec;
}
.variant{
    width: 100%;
    height: 100%;
    background-color: #525F5F;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.variant h2{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 2ch;
}
.variant p {
    padding-left: 15px;
    font-size: 18px;
    color: #B0B0B0;
}
.main__content{
    width: 100%;
    height: 100%;
    background-color: #525F5F;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}
.main__content h2{
    padding-top: 20px;
}
.main__task img{
    height: 80px;
    width: auto;
    margin: 15px;
}
.r_c{
    font-size: 20px;
}
.r_c input {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.matrix__row{
    display: flex;
    gap: 15px;
    align-items: center;
}
.matrix__row p {
    font-size: 30px;
}
.matrix{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    color: #ececec;
}
.entry__buttons{
    margin-top: 20px;
}

button{
    background-color: #7B9685;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #ececec;
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px rgba(123,150,133, .3);
  }
button:hover,
button:disabled{
  transform: translate(3px, 3px);
  box-shadow: 0 0 0;
}
button:disabled{
    background-color: #9fa4a3;
}
#result{
    font-size: 20px;
    color: #ececec;
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.error-modal{
    position: absolute;
    top: 10px;
    right: -100000px;
    background-color: red;
    padding: 25px;
    border-radius: 5px;
    color: #ececec;
    transition: .2s;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.error-modal h3{
    font-size: 25px;
}
.error-modal__manager{
    display: flex;
}
.close-btn{
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.close-btn::before,
.close-btn::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ececec;
}

.close-btn::before{
    transform: rotate(-45deg);
}
.close-btn::after{
    transform: rotate(45deg);
}

.tabs__navbar ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px;
}
.tabs__item{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.tabs__item.active{
    background-color: #9fa4a3;
}
.tabs_content-container{
    display: flex;
    justify-content: center
}
.tabs__content{
    flex-direction: column;
    align-items: center;
    display: none;
}
#final-matrix{
    display: none;
}
.r_c-input:disabled{
    background-color: #fff;
}